**/__pycache__
**/_
*.pyc
*.pyo
*.pyd
.Python
.cloud
.git
.github
.vscode
*
mlspeclib-docker
tests
execution_code/__*

#####
!requirements.txt
!execution_code/*.py
!execution_code/*.sh
!tests/.parameters/execution_parameters.yaml
!tests/workflow_schemas
