[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
debugpy = "*"
pylint = "*"
black = "*"
ipython = "*"

[packages]
pyyaml = "*"
msgpack = "*"
gremlinpython = "*"
python-box = "*"
mlspeclib = {editable = true,path = "./../mlspec-lib"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
